<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">Project</h2>
            <div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="db-default.html"><i class="ti ti-home"></i></a></li>
                    <li class="breadcrumb-item active">Basic Tables</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <a  href="#/create-project" class="btn btn-primary mr-1 mb-2" id="create-new-project"><i class="la la-pencil"></i>Create New Project</a>
        <!-- Hover -->
        <div class="widget has-shadow" style="margin-top: 40px;">
            <div class="widget-body">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Kode Project</th>
                                <th>Start Day</th>
                                <th>Finish Day</th>
                                <th>Names Project</th>
                                <th><span style="width:100px;">Repository</span></th>
                                <th>Status Project</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="show-project">
                            <!-- <tr>
                                <td><span class="text-primary">054-01-FR</span></td>
                                <td>Lori Baker</td>
                                <td>US</td>
                                <td>10/21/2017</td>
                                <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                                <td>$139.45</td>
                                <td class="td-actions">
                                    <a href="#"><i class="la la-edit edit"></i></a>
                                    <a href="#"><i class="la la-close delete"></i></a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Hover -->

    </div>
</div>

<script src="static/script/storage/myStorage.js"></script>
<script src="static/script/project.js" ></script>