<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/project"><i class="ti ti-home"></i></a></li>
                    <li class="breadcrumb-item active">Invite Team</li>
                </ul>
            </div>
        </div>
    </div>
</div>